* {
    padding: 0;
    margin: 0;
    font-family: poppins;
}

body {
    background-color: crimson;
}

h2 {
    text-align: center;
}


p {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}