* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./dt.img/bg\ img.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    user-select: none;
    cursor: pointer;
}

h2 {
    font-size: 50px;
    margin-bottom: 10px;
    font-family: 'inspiration';
}


p {
    text-align: center;
    font-size: 54px;
    font-weight: bold;
    font-family: 'poppins';
}

@media (max-width:740px) {
    body{
        background-image: url(./dt.img/bg\ img\ 2.avif);
        color: black;
    }

    h2 {
    font-size: 35px;
    margin-bottom: 5px;
}

p {
    font-size: 37px;
}
}